h1{
  font-family: monospace;
  font-style: normal;
  text-align: center;
  color: black;
   text-shadow: 4px 4px 6px #000000;
}

p{
  font-family: fantasy;
  text-align: center;
  text-decoration: underline;
  color: black;
   text-shadow: 2px 2px 4px #000000;
}

.jumbotron{
  background: #F4E8C7;
:50px,50px, black;
}

body{
  background: #9B8D68;
}

#nameSection{
  box-shadow:50px,50px, black;
  width: 250px;
   border: 1px solid black;
   padding: 5px;
   margin: 5px;
}
#toppingSection{
 width: 500px;
}
#sauceSection{
 width: 500px;
}
#crustSection{
 width: 500px;
}
#sizeSection{
 width: 500px;
}

#buttn{
 width: 500px;
}

p#outputOne{
  font-family: Impact;
}
